@{
    Layout = "_LoginLayout";
}

@{
    ViewBag.Title = "Şifrəmi unutdum";
}

@model ForgetPasswordVM

<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-2" style="text-align:center; padding:10px 0;">Xoş gəlmişsiniz 👋</h4>
                    <p class="mb-4">Emailinizi daxil edin və sonra emalinizə gələcək mesaja daxil olun</p>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                      
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Göndər</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->


@section ScriptLogin{
    <partial name="_ValidationScriptsPartial" />
}