@{
    Layout = "_LoginLayout";
}

@{
    ViewBag.Title = "Şifrəni yenilə";
}


@model ResetPasswordVM

<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-2" style="text-align:center; padding:10px 0;">Xoş gəlmişsiniz 👋</h4>
                    <p class="mb-4">Şifrənizi yeniləyin</p>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <form method="post">
                       
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Şifrə</label>
                            <input asp-for="Password" class="form-control" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                           
                        <div class="mb-3">
                            <label asp-for="CheckPassword" class="form-label">Şifrənin təkrarı</label>
                            <input asp-for="CheckPassword" class="form-control" />
                            <span class="text-danger" asp-validation-for="CheckPassword"></span>
                        </div>
                       
                       
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Şifrəni Yenilə</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
<!-- / Content -->
@section ScriptLogin{
    <partial name="_ValidationScriptsPartial" />
}