@model Salary


<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Maaş</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    
                    <button type="submit" class="btn btn-outline-success my-3">Ödə</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Geri Qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
