@model List<Product>

@if (Model != null && Model.Count > 0)
{     
    <div class="row" style="display:flex;"> 
            @foreach (var product in Model)
            {
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single-popular-items mb-50 text-center">
                    <a id="productID" class="product-item" data-product-id="@product.Id">
                        <div class="popular-img">
                            <img class="card-img-top mx-auto" style="height:100px; width:120px;" src="~/assets/img/product/@product.Image">
                        </div>
                    </a>
                    <input type="hidden" value="@product.Id">
                    <div class="popular-caption">
                        <p>@product.Name</p>
                        
                    </div>
                </div>
            </div>
            } 
    </div>

    <select id="select" multiple name="productsId[]" hidden></select>

    @section ScriptOf{
    <script>
        //var productId = $(this).next().val();
      //var productId = $(this).attr("data-product-id");
      //console.log(productId)
      //  $(document).on("click", "#productID", function () {
      //      $.ajax({
      //          url: "/Cash/ProductOrder/",
      //          type:'get',
      //          data :
      //          {
      //              "proId" : productId 
      //          },
      //          success: function (html) {
                   
      //          }
      //      });
      //  });
        $(document).on("click", ".product-item", function () {
            var productId = $(this).attr("data-product-id");
            $.ajax({
                url: "/Cash/ProductOrder/",
                type: 'get',
                data: {
                    "proId": productId
                },
                success: function (response) {
                    // İşlemlerinizi gerçekleştirin
                }
            });
        });
    </script>
    }
   
}
else
{
    <p>Bu kateqoriyaya aid məhsul yoxdur </p>
}
