@{
    Layout = "_AdmistratorLayout";
}

@model List<KitchenBase>

<a asp-action="Create" class="btn btn-success">Əlavə Et</a>
<div class="container my-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-3 col-6">
                <div class="card text-center mb-3" style="border:1px solid;">
                    <div class="card-body">
                        <p class="card-title text-black">@item.Name</p>
                        <p class="card-text text-black">
                            @item.Quantity dənə
                        </p>
                        <a asp-action="Increase" asp-route-id="@item.Id" class="btn btn-info text-white"><i class="fa-sharp fa-solid fa-plus"></i></a>
                        <a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-info text-white"><i class="fa-sharp fa-solid fa-minus"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


