@model Reservation

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Sil</h5>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="mb-3 form-group">
                        <p>@Model.Name-nin rezervasiyasın silmək istəyirsən mi ?</p>
                    </div>

                    <button type="submit" class="btn btn-danger my-3">Sil</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri Qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}